/* Header.module.css */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* 确保 header 在最顶层显示 */
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.nav-item a:hover {
  color: #ff6600;
}

.logo img {
  max-width: 100px; /* Adjust the size of the logo as needed */
  height: auto;
}